/* PRIMARY */
$clr-primary-a0: #ffd700;
$clr-primary-a10: #ffdb3c;
$clr-primary-a20: #ffe05b;
$clr-primary-a30: #ffe475;
$clr-primary-a40: #ffe88d;
$clr-primary-a50: #ffeda4;

/* SURFACE */
$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

/* _GREEN */
$clr-green-a0: #78c255;
$clr-green-a10: #88c968;
$clr-green-a20: #98d07b;
$clr-green-a30: #a7d78e;
$clr-green-a40: #b6dea0;
$clr-green-a50: #c5e4b3;

/* _RED */
$clr-red-a0: #e8594f;
$clr-red-a10: #ee6e61;
$clr-red-a20: #f38173;
$clr-red-a30: #f79486;
$clr-red-a40: #fba699;
$clr-red-a50: #fdb8ad;

/* OTHER */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;
