@font-face {
  font-family: "WixMadeforText";
  src: url("../../public/fonts/WixMadeforText-VariableFont_wght.ttf");
}

@font-face {
  font-family: "WixMadeforDisplay";
  src: url("../../public/fonts/WixMadeforDisplay-VariableFont_wght.ttf");
}
