<footer class="footer">
  <div class="container">
    <hr />
    <p class="copyright">© AniBook 2025</p>
    <nav class="menu">
      <ul class="menu-list">
        <li class="list-item">
          <a class="link">О сайте</a>
        </li>
        <li class="list-item">
          <a class="link">Правила</a>
        </li>
        <li class="list-item">
          <a class="link">Соглашение</a>
        </li>
        <li class="list-item">
          <a class="link">FAQ</a>
        </li>
      </ul>
    </nav>
    <a href="mailto:info@anibook.ru" class="link link-contact"
      >info{{ "@" }}anibook.ru</a
    >
  </div>
</footer>
